body {
	background: #FFF;
	color: #000;
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 10px;
	padding: 0;
}

h1 {
	font-size: 18px;
	margin: 0 0 5px 0;
}

h2 {
  font-size: 16px;
	margin: 0 0 5px 0;
}

h3 {
  font-size: 13px;
	color: #328AA4;
	margin: 0 0 15px 0;
}

table { 
	border-collapse: collapse;
}

th {
  color: #FFF;
  font-size: 11px;
  background: url( tr_back.gif ) repeat-x scroll 0 0 #328AA4;
	border: 1px solid #FFFFFF;
	padding: 4px 0px;
}

td {
  color: #555;
  font-size: 11px;
  border: 1px solid #FFFFFF;
	padding: 3px 2px;
}

.even td {
	background: #E5F1F4;
}
.odd td {
	background: #F8FBFC;
}

.negative { 
	color: #CC1122; 
}

.ui-datepicker {
	font-size: 12px;
}

/*
 * Results Page 
 */
.playerList th span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.resultTable td:first-child {
	text-align: center;
}
.resultTable td {
  text-align: right;
}

/*
 * Summary Page
 */
 .summaryTable th, .summaryTable td {
	padding: 4px 4px;
 }

/*
 * Table Sorter
 */
.ascending, .descending {
	background: url( tr_back_sorted.gif ) repeat-x scroll 0 0 #56A9BE;
}

}
