<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Transaction List</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="../../js/quicksplit.js" th:src="@{js/quicksplit.js}"></script>
    
    <link type="text/css" rel="stylesheet"
      href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link type="text/css" rel="stylesheet"
      href="../../css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
    <link type="text/css" rel="stylesheet"
      href="../../css/quicksplit.css" th:href="@{/css/quicksplit.css}"/>
      
    <script>
	    $(document).ready( function(){

        $( "#remove-modal" ).on( "show.bs.modal", function( event ) {
          var button = $(event.relatedTarget);
          $(this).find( "#TransactionId" ).val( button.data( "id" ) );
        });
        
        $( "form" ).each( function(){
          $(this).validate( bootstrapOptions );
        });
	      
	    });
    </script>
    
  </head>
  
  <body>
	  <nav th:replace="fragments :: nav" class="navbar navbar-default navbar-static-top">
	    <div class="container">
	    
	      <div class="navbar-header">
	        <a class="navbar-brand">Static Navbar</a>
	      </div>
	      
	    </div>
	  </nav>
	  
	  <div class="container">
	  
    <div class="row">
      <div class="col-sm-6">
		    <h3>
		      Transaction History
		      <span th:if="${Player!=null}" th:text="|for ${Player}|">for Player</span>
		    </h3>
      </div>

      <div class="col-sm-6" style="text-align:right">

          <form class="form-inline" action="transactions" method="get">
            <div class="form-group has-feedback">
              <input type="text" name="Player" class="form-control input-sm" placeholder="Filter by Player" th:value="${Player}"/>
              <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
            </div>
          </form>

      </div>

    </div>
		  
		  <table class="table table-condensed table-striped colour-negative">
			  <thead>
			    <tr>
			      <th>Player</th>
			      <th>Date</th>
			      <th>Amount ($)</th>
			      <th>Description</th>
            <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="transaction : ${Transactions}">
			      <td th:text="${transaction.player.name}">Player</td>
			      <td th:text="${#dates.format(transaction.date,'dd MMM yyyy')}">21 Mar 1986</td>
			      <td th:text="${#numbers.formatDecimal(transaction.amount/100.0,1,2)}">-25.60</td>
			      <td th:text="${transaction.description}">Season #1 loss</td>
            <td><a href="#" data-toggle="modal" data-target="#remove-modal" th:attr="data-id=${transaction.id}">Remove</a></td>
			    </tr>
	      </tbody>
	      <tfoot>
	        <tr>
	          <td>Total</td>
	          <td></td>
	          <td th:text="${#numbers.formatDecimal(Total/100.0,1,2)}">100.00</td>
	          <td></td>
	          <td></td>
	        </tr>
	      </tfoot>
		  </table>

      <div class="button-row">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-modal">
          <span class="glyphicon glyphicon-plus"></span>
            Record Transaction
        </button>
      </div>
		  
		</div>

    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog ">
        <div class="modal-content">
          <form th:action="@{/add-transaction}" method="post">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Add Transaction</h4>
            </div>
            <div class="modal-body">
            
              <div class="form-group">
                <label for="PlayerId">Player</label>
                <select name="PlayerId" id="PlayerId" class="form-control" required>
                  <option></option>
                  <option th:each="player : ${Players}" th:value="${player.id}" th:text="${player.name}" th:selected="${player.name == Player}">Test</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Date">Date</label>
                <input type="date" name="Date" id="Date" class="form-control" 
                  value="2016-03-21"
                  th:value="${#dates.format(#dates.createToday(),'yyyy-MM-dd')}" required>
              </div>
              <div class="form-group">
                <label for="Amount">Amount</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="number" name="Amount" id="Amount" class="form-control" value="0.00" th:value="${Total!=0}? ${#numbers.formatDecimal(Total/-100.0,1,2)} : '0.00'" required>
                </div>
              </div>
              <div class="form-group">
                <label for="Description">Description</label>
                <textarea name="Description" id="Description" class="form-control" rows="2" th:text="${Total!=0}? (${Total &lt; 0}? 'Thanks for paying. Better luck next time.' : 'Withdrawal')" required></textarea>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
	  
    <div class="modal fade" id="remove-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form th:action="@{/remove-transaction}" method="post">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Delete Transaction</h4>
            </div>
            <div class="modal-body">
              <input type="hidden" name="TransactionId" id="TransactionId">
              <p>Are you sure you wish to remove this transaction?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Nah</button>
              <button type="submit" class="btn btn-danger btn-sm">Yeah!</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </body>
  
</html>