.ui-datepicker {
  font-size: 12px;
}

/*
 * Tables
 */
table.statTable td.negative { 
  color: #CC1122; 
}

table.statTable { 
	border-collapse: collapse;
}

table.statTable th {
  color: #FFF;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  background: url( tr_back.gif ) repeat-x scroll 0 0 #328AA4;
	border: 1px solid #FFFFFF;
	padding: 4px 4px;
}

table.statTable td {
  color: #555;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  border: 1px solid #FFFFFF;
	padding: 4px 4px;
}

table.statTable tr.even td {
	background: #E5F1F4;
}
table.statTable tr.odd td {
	background: #F8FBFC;
}

table.resultTable td {
  text-align: right;
}

table.resultTable td:first-child {
	text-align: center;
}

table.summaryTable th {
	text-align: center;
}

/*
 * Table Sorter
 */
table th.ascending, table th.descending {
	background: url( tr_back_sorted.gif ) repeat-x scroll 0 0 #56A9BE;
}
