/*
 * Tables
 */

table.statTable { 
	border-collapse: collapse;
}
table.statTable tr:nth-child(even) td {
  background: #E5F1F4;
}
table.statTable tr:nth-child(odd) td {
  background: #F8FBFC;
}

table.statTable th {
  color: #FFF;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  background: url( tr_back.gif ) repeat-x scroll 0 0 #328AA4;
	border: 1px solid #FFFFFF;
	padding: 4px 4px;
	text-align: center;
	white-space: nowrap;
}

table.statTable td {
  color: #555;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  border: 1px solid #FFFFFF;
	padding: 4px 4px;
	text-align: right;
	white-space: nowrap;
}

table.statTable td.negative { 
  color: #CC1122; 
}

/*
 * Table Sorter
 */
table th.ascending, table th.descending {
	background: url( tr_back_sorted.gif ) repeat-x scroll 0 0 #56A9BE;
}

/*
 * Pagination
 */
ul.pagination {
  margin-top: 10px;
}

/*
 * Forms
 */
.has-error .help-block {
	font-weight: bold;
}
.has-error .help-block::before {
  content: "* ";
}

/*
 * Buttons
 */
.button-row {
  margin-bottom: 20px;
}